<<<<<<< HEAD

$themeColor-Dark:#b68d4c;
body {
    background-color: $themeColor-Dark;
=======
body {
>>>>>>> d68c4f3d5393dfe830a4fa3bd2d88b80f0a1ae62
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
